# Data Input

In [2]:
import pandas as pd
import numpy as np

In [4]:
user = pd.read_json("/Users/apple/Desktop/Copy of Dataset/user.json",lines=True)

In [3]:
review = pd.read_json("/Users/apple/Desktop/Copy of Dataset/review.json",lines=True)

In [436]:
business_origin = pd.read_json("/Users/apple/Desktop/Copy of Dataset/business.json",lines=True)

In [6]:
user.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [7]:
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [8]:
review.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

In [9]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [10]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

# Data Cleaning

In [11]:
business = business[business['is_open'] == 1]
business.shape

(119698, 14)

In [12]:
review.shape

(6990280, 9)

In [13]:
dup_review = review[review.duplicated(subset = ['text'], keep = False)].sort_values(by = 'text')

In [14]:
dup_review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
6720170,4n5GRXIfsqPK6f4gvV-WDg,v3rb9TCvIH2Wnxp7wdvQOA,tsa8CBbBOcLfMYeUqIMovg,2,4,0,0,!!,2015-04-07 16:52:13
6364248,1FIeKZRI13-MMoyErZw3fA,TFAzjuXuibeN2JC328KbXg,-9NmUeTphyS9Lq1o9MACGw,4,0,0,0,!!,2015-05-03 14:06:26
3753724,xUR9r9_vVb9EwcXlu-yaLA,5RZDMSpeMNEJcgtgMxzGDQ,TjXbh5PwgCOFkvbi0_qrmA,1,1,0,0,!!!!!!!!\n!!!!!!!!\n!!!!!!!Do not eat here \nI...,2018-06-06 00:52:54
3897864,RHxAvqe7npDBxVVff5VRWA,5RZDMSpeMNEJcgtgMxzGDQ,TjXbh5PwgCOFkvbi0_qrmA,1,3,0,1,!!!!!!!!\n!!!!!!!!\n!!!!!!!Do not eat here \nI...,2018-06-26 22:23:27
4135424,by7RHCv3KEZ89C576_kNkA,dWu1E1lmdFZF7P621TPSEQ,CySqUcNz8oPiQTu4EXTnig,4,2,0,0,"""Burger of the Moment"" Do it! It is fantastic!...",2021-10-12 23:29:05
...,...,...,...,...,...,...,...,...,...
4338044,tDUj0Kn5FRDpr6iKNFZqrg,hSGexBI1k5mD-Vp6t2A-9w,v_8DrVtUIHE0o62Ps926Yg,2,1,0,0,两星纯粹是给味道，可以称之为SB地区最正宗的中餐馆。扣的三星完全是因为服务态度。桌子不擦，上...,2018-03-09 22:38:07
6615832,nNL7HLKFtb-b078jXO5w3A,-aomHB1h0K6M5ysOBujv-w,Nt8bwriX3NX249EJC7XUsQ,1,0,0,0,凉拌土豆丝和牛筋好吃，服务员很热心，店的位置也很容易找 chinatown算是一家不错的面馆...,2016-01-05 03:33:52
6621130,SqIjfoyzh5zzXwOc0SbX0Q,-aomHB1h0K6M5ysOBujv-w,Nt8bwriX3NX249EJC7XUsQ,5,0,0,0,凉拌土豆丝和牛筋好吃，服务员很热心，店的位置也很容易找 chinatown算是一家不错的面馆...,2015-01-30 23:05:57
3966002,gHWg7CsSAZmvNavF2JccXA,658KY3BAcjeSAK_d2LOMDA,8yUdqNLViWhmfbYVltkJ7Q,1,1,0,0,土曜日のブランチに来ました。たくさんの広い席があり自由に座れるので、とてもゆったり座れます。...,2017-10-27 10:00:10
3575985,PaOTpCGwVpxSPyE3XOA-Pg,658KY3BAcjeSAK_d2LOMDA,8yUdqNLViWhmfbYVltkJ7Q,2,0,0,0,土曜日のブランチに来ました。たくさんの広い席があり自由に座れるので、とてもゆったり座れます。...,2017-10-28 14:04:30

In [15]:
review = review[~review.isin(dup_review)].dropna(how = 'all')
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1.0,0.0,1.0,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0.0,0.0,0.0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1.0,0.0,1.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1.0,0.0,1.0,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5.0,1.0,2.0,1.0,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5.0,2.0,1.0,2.0,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4.0,1.0,0.0,0.0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1.0,0.0,0.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10.0,3.0,7.0,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [17]:
review['text'].duplicated().sum()

0

In [18]:
review['year'] = review['date'].astype('str').str.extract(r"(\d{4})")

In [19]:
review['year'].value_counts()

2019    902163
2018    900636
2017    814508
2016    753902
2015    684585
2021    617110
2020    552399
2014    521031
2013    383038
2012    286074
2011    230572
2010    138477
2009     74317
2008     48181
2022     31585
2007     15347
2006      3851
2005       854
Name: year, dtype: int64

In [20]:
business = business.iloc[: , [0, 1, 8, 9, 10, 11, 12]].copy()

In [21]:
business

,business_id,name,stars,review_count,is_open,attributes,categories
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
6,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,2.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping..."
...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas"
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut..."
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo"

In [22]:
user = user.iloc[: , [0, 1, 2, 4, 9]].copy()

In [23]:
user

                        user_id     name  review_count  useful  fans
0        qVc8ODYU5SZjKXVBgXdI7w   Walker           585    7217   267
1        j14WgRoU_-2ZE1aw1dXrJg   Daniel          4333   43091  3138
2        2WnXYQFK0hXEoTxPtV2zvg    Steph           665    2086    52
3        SZDeASXq7o05mMNLshsdIA     Gwen           224     512    28
4        hA5lMy-EnncsH4JoR-hFGQ    Karen            79      29     1
...                         ...      ...           ...     ...   ...
1987892  fB3jbHi3m0L2KgGOxBv6uw  Jerrold            23       7     0
1987893  68czcr4BxJyMQ9cJBm6C7Q     Jane             1       0     0
1987894  1x3KMskYxOuJCjRz70xOqQ  Shomari             4       1     0
1987895  ulfGl4tdbrH05xKzh5lnog  Susanne             2       0     0
1987896  wL5jPrLRVCK_Pmo4lM1zpA      Isa             2       0     0

[1987897 rows x 5 columns]

In [24]:
review = review.iloc[: , [0, 1, 2, 3, 4, 9]].copy()

In [25]:
review

,review_id,user_id,business_id,stars,useful,year
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,2018
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1.0,2012
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0.0,2014
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1.0,2015
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1.0,2017
...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5.0,1.0,2014
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5.0,2.0,2021
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4.0,1.0,2019
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1.0,2022
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10.0,2018

In [26]:
bus_rev = pd.merge(business, review, how="left", on=["business_id", "business_id"])
bus_rev

,business_id,name,stars_x,review_count,is_open,attributes,categories,review_id,user_id,stars_y,useful,year
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",-WXMS4p3D9NQsAPw4YPEyw,Jks_uMtTZHqP-84wSZ3COg,5.0,0.0,2014
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",z7TqAKXXArEB6LH6Nfr9BQ,trf3Qcz8qvCDKXiTgjUcEg,3.0,1.0,2011
2,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",8Di0vZGcRLVNCZ-AWKgshA,auE6cx-AMcv2fv4SW_gnzA,5.0,0.0,2018
3,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",P3sG3oZo4FmmlnHLK_dGFg,duRDfBM-IRUNFfZD7QNIGQ,5.0,0.0,2017
4,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",BUVjxn7z08nyLTjpGReknw,4yE8Y2PEE2SYlmZg55yFUQ,1.0,4.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
5764811,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",b4lUxYu-8yBkq8H4NgzS2A,EYKtdSmIb48URxUagC937A,5.0,0.0,2017
5764812,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",5gE7ACSqGdQSaiS75Nl_tw,T-tMouhG-faaEyh2zpprYg,5.0,0.0,2021
5764813,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",34FBVC0N2M-7r2aCZnXecA,r_xuBblpy45w9lPHUwQFtA,5.0,0.0,2019
5764814,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",VSMXMQ8qOauSGS4sC_4XHQ,wZw_sEDCvTxV9Zc4ftHb5w,5.0,1.0,2020
5764815,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",mSOi83M9nQt02ZOblMTW6w,Pi1chY5ZWbQ80tjxQcrn_g,1.0,1.0,2020

# Null Check

In [27]:
business.isnull().sum()

business_id         0
name                0
stars               0
review_count        0
is_open             0
attributes      12348
categories         95
dtype: int64

In [28]:
review.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
year           0
dtype: int64

In [29]:
user.isnull().sum()

user_id         0
name            0
review_count    0
useful          0
fans            0
dtype: int64

In [30]:
bus_rev.isnull().sum()

business_id          0
name                 0
stars_x              0
review_count         0
is_open              0
attributes      166476
categories         623
review_id            0
user_id              0
stars_y              0
useful               0
year                 0
dtype: int64

In [31]:
b_attributes = pd.json_normalize(business['attributes'])
b_attributes

,BusinessAcceptsCreditCards,RestaurantsDelivery,OutdoorSeating,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,...,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,HairSpecializesIn,Open24Hours,RestaurantsCounterService,AgesAllowed,DietaryRestrictions
0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,False,False,"{'garage': False, 'street': True, 'validated':...",True,1,True,False,u'free',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,True,NaN,NaN,"{'garage': None, 'street': None, 'validated': ...",True,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,True,True,True,None,False,1,True,False,u'no',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119693,NaN,NaN,NaN,NaN,NaN,3,NaN,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119694,True,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,2,NaN,NaN,u'no',NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119695,True,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119696,True,None,NaN,"{'garage': False, 'street': False, 'validated'...",True,4,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119697,True,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",False,1,NaN,False,u'free',NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Replace element

In [84]:
for i in ['Beauty', 'Pet', 'Food', 'Hotel', 'Restaurant', 'Real Estate', 'Banks', 'Auto', 'Bar', 'Local Services', 'Entertainment', 'Shopping', 'Active Life', 'Health', 'Religious']:
    bus_rev['Cat_Summary'] = np.where(bus_rev['categories'].str.contains(i) == True, i, bus_rev['Cat_Summary'])

In [81]:
for i in ['Beauty', 'Pet', 'Food', 'Hotel', 'Restaurant', 'Real Estate', 'Banks', 'Auto', 'Bar', 'Local Services', 'Entertainment', 'Shopping', 'Active Life', 'Health', 'Religious']:
    bus_rev['Cat_Summary'] = np.where(bus_rev['Cat_Summary'].str.contains(i) == True, i, 'others')

In [86]:
bus_rev[bus_rev['categories'].str.contains('Banks') == True].head()

,business_id,name,stars_x,review_count,is_open,attributes,categories,review_id,user_id,stars_y,useful,year,Cat_Summary
2075,7PDi_iyik3jraDAzWwwR4Q,Chase JP Morgan Bank Credit Card Services,1.5,111,1,None,"Banks & Credit Unions, Financial Services",l_tnKrP9attso_xSsvS49Q,QRql_ey8VzCTZnal0lXWxg,1.0,1.0,2018,Banks
2080,7PDi_iyik3jraDAzWwwR4Q,Chase JP Morgan Bank Credit Card Services,1.5,111,1,None,"Banks & Credit Unions, Financial Services",MZOMQ5ovvahZpr3drC5_-w,nMw_gi59mJOW8M7RiQLQBw,1.0,1.0,2019,Banks
2081,7PDi_iyik3jraDAzWwwR4Q,Chase JP Morgan Bank Credit Card Services,1.5,111,1,None,"Banks & Credit Unions, Financial Services",vAYVtRcURd7OhT4MLF7MDQ,9c1LNZoU-KsyCJQc48bvbw,1.0,1.0,2019,Banks
2083,7PDi_iyik3jraDAzWwwR4Q,Chase JP Morgan Bank Credit Card Services,1.5,111,1,None,"Banks & Credit Unions, Financial Services",ahY4XLM3XZ3LU3Xh-P6DeQ,At8vLAgc4BdSea8wIVYxHw,1.0,3.0,2018,Banks
2085,7PDi_iyik3jraDAzWwwR4Q,Chase JP Morgan Bank Credit Card Services,1.5,111,1,None,"Banks & Credit Unions, Financial Services",Fm-GSdZhqtVAPZ6_igS_tQ,CwgV7O3rOw_ngw1aHXGczA,1.0,0.0,2020,Banks

In [51]:
bus_rev = bus_rev[bus_rev['year'].astype('int') >= 2018]

In [52]:
bus_rev

,business_id,name,stars_x,review_count,is_open,attributes,categories,review_id,user_id,stars_y,useful,year,Cat_Summary
2,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",8Di0vZGcRLVNCZ-AWKgshA,auE6cx-AMcv2fv4SW_gnzA,5.0,0.0,2018,Local Services
9,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",PW7BdJwfnICD7_9PXltaMA,PnwOegp7RXfMeNAyO9fQhQ,4.0,1.0,2019,Local Services
11,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",modGqK95718eNnJc9pEIjA,Lj9jeybp5wJeQRYaVJDfkQ,1.0,0.0,2019,Local Services
12,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",GeXmTsLHIL3nFNRvmG7jbg,uXHXWvY8661zHWHNh5AyyA,4.0,2.0,2021,Local Services
13,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",TChqW_vZ1O7U89P81560Fg,OSSYJJIGVr53Tk61ZycITQ,5.0,0.0,2022,Local Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764809,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",CgOA7vV9YH2_bCwItxDi-w,nKVklvB7yZ56dc_8bnLpfA,5.0,1.0,2021,Beauty
5764812,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",5gE7ACSqGdQSaiS75Nl_tw,T-tMouhG-faaEyh2zpprYg,5.0,0.0,2021,Beauty
5764813,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",34FBVC0N2M-7r2aCZnXecA,r_xuBblpy45w9lPHUwQFtA,5.0,0.0,2019,Beauty
5764814,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",VSMXMQ8qOauSGS4sC_4XHQ,wZw_sEDCvTxV9Zc4ftHb5w,5.0,1.0,2020,Beauty
5764815,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",mSOi83M9nQt02ZOblMTW6w,Pi1chY5ZWbQ80tjxQcrn_g,1.0,1.0,2020,Beauty

In [54]:
bus_rev = bus_rev[bus_rev['useful'] != -1]

In [70]:
bus_rev = bus_rev[bus_rev.user_id.isin(dup_review['user_id']) == False]

In [71]:
bus_rev

,business_id,name,stars_x,review_count,is_open,attributes,categories,review_id,user_id,stars_y,useful,year,Cat_Summary
2,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",8Di0vZGcRLVNCZ-AWKgshA,auE6cx-AMcv2fv4SW_gnzA,5.0,0.0,2018,Local Services
11,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",modGqK95718eNnJc9pEIjA,Lj9jeybp5wJeQRYaVJDfkQ,1.0,0.0,2019,Local Services
12,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",GeXmTsLHIL3nFNRvmG7jbg,uXHXWvY8661zHWHNh5AyyA,4.0,2.0,2021,Local Services
13,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",TChqW_vZ1O7U89P81560Fg,OSSYJJIGVr53Tk61ZycITQ,5.0,0.0,2022,Local Services
14,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",4uppC_A_XyB8t99IIBhbFw,Pkj1q-1rePYIo6f2EIGV3g,1.0,1.0,2021,Local Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764809,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",CgOA7vV9YH2_bCwItxDi-w,nKVklvB7yZ56dc_8bnLpfA,5.0,1.0,2021,Beauty
5764812,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",5gE7ACSqGdQSaiS75Nl_tw,T-tMouhG-faaEyh2zpprYg,5.0,0.0,2021,Beauty
5764813,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",34FBVC0N2M-7r2aCZnXecA,r_xuBblpy45w9lPHUwQFtA,5.0,0.0,2019,Beauty
5764814,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",VSMXMQ8qOauSGS4sC_4XHQ,wZw_sEDCvTxV9Zc4ftHb5w,5.0,1.0,2020,Beauty
5764815,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",mSOi83M9nQt02ZOblMTW6w,Pi1chY5ZWbQ80tjxQcrn_g,1.0,1.0,2020,Beauty

In [75]:
bus_rev.isnull().sum()

business_id         0
name                0
stars_x             0
review_count        0
is_open             0
attributes      86263
categories        370
review_id           0
user_id             0
stars_y             0
useful              0
year                0
Cat_Summary       370
dtype: int64

# Analysis

In [83]:
bus_rev.head()

,business_id,name,stars_x,review_count,is_open,attributes,categories,review_id,user_id,stars_y,useful,year,Cat_Summary
2,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",8Di0vZGcRLVNCZ-AWKgshA,auE6cx-AMcv2fv4SW_gnzA,5.0,0.0,2018,others
11,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",modGqK95718eNnJc9pEIjA,Lj9jeybp5wJeQRYaVJDfkQ,1.0,0.0,2019,others
12,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",GeXmTsLHIL3nFNRvmG7jbg,uXHXWvY8661zHWHNh5AyyA,4.0,2.0,2021,others
13,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",TChqW_vZ1O7U89P81560Fg,OSSYJJIGVr53Tk61ZycITQ,5.0,0.0,2022,others
14,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",4uppC_A_XyB8t99IIBhbFw,Pkj1q-1rePYIo6f2EIGV3g,1.0,1.0,2021,others

In [87]:
bus_rev.groupby('Cat_Summary')['stars_y'].mean()

Cat_Summary
Active Life       3.924137
Auto              3.272812
Banks             2.166389
Bar               3.916260
Beauty            3.794378
Entertainment     3.741007
Food              3.965682
Health            3.526243
Hotel             3.093026
Local Services    3.480761
Pet               3.690958
Real Estate       2.852274
Religious         4.084882
Restaurant        3.820627
Shopping          3.544874
others            3.575513
Name: stars_y, dtype: float64

In [88]:
bus_rev['Cat_Summary'].value_counts()

Restaurant        1025062
Bar                634429
Shopping           164317
Beauty              99503
Health              97683
Auto                95333
Food                91118
Entertainment       84929
Active Life         71998
Hotel               65917
others              57752
Local Services      54680
Pet                 28611
Real Estate         22298
Banks                2999
Religious            1991
Name: Cat_Summary, dtype: int64

In [225]:
star = bus_rev.groupby(['Cat_Summary', 'business_id', 'name', 'review_count'], as_index=False)['stars_y'].mean()

In [226]:
star

,Cat_Summary,business_id,name,review_count,stars_y
0,Active Life,--30_8IhuyMHbSOcNWd6DQ,Action Karate,9,4.500000
1,Active Life,--9osgUCSDUWUkoTLdvYhQ,Will You Escape?,29,4.764706
2,Active Life,--O3ip9NpXTKD4oBS1pY2A,Alameda Park,65,4.714286
3,Active Life,--sgBOzb76sjOQ-Xhdjffw,Allen's Aquatic Adventures,34,5.000000
4,Active Life,-0x-MbRbsi9YoPxB873qcw,Laura Sims Skate House,5,4.500000
...,...,...,...,...,...
115755,others,zysTkQbB0c9A0EbnmEAlfg,Carter's Lock & Safe,8,5.000000
115756,others,zyy_cMCepssktJ2BWLDnCg,Tom Adams Storm Windows,15,2.142857
115757,others,zzG-EObaHskhFLy6suavpA,G&H Tile Masters,6,5.000000
115758,others,zzUxvYE-8Fj_dWqsPcagNg,The Cleaning Authority - Tucson,25,1.733333
115759,others,zztOG2cKm87I6Iw_tleZsQ,Project Management Academy,6,4.800000

In [219]:
star.groupby(['Cat_Summary'])['stars_y'].nlargest(3).reset_index()

       Cat_Summary  level_1  stars_y
0      Active Life        3      5.0
1      Active Life       13      5.0
2      Active Life       35      5.0
3             Auto     5592      5.0
4             Auto     5594      5.0
5             Auto     5595      5.0
6            Banks    14389      5.0
7            Banks    14438      5.0
8            Banks    14459      5.0
9              Bar    14995      5.0
10             Bar    15004      5.0
11             Bar    15026      5.0
12          Beauty    25394      5.0
13          Beauty    25395      5.0
14          Beauty    25399      5.0
15   Entertainment    32266      5.0
16   Entertainment    32275      5.0
17   Entertainment    32283      5.0
18            Food    34747      5.0
19            Food    34753      5.0
20            Food    34756      5.0
21          Health    40015      5.0
22          Health    40017      5.0
23          Health    40022      5.0
24           Hotel    51009      5.0
25           Hotel    51025      5.0
26           Hotel    51030      5.0
27  Local Services    54443      5.0
28  Local Services    54447      5.0
29  Local Services    54448      5.0
30             Pet    60630      5.0
31             Pet    60631      5.0
32             Pet    60632      5.0
33     Real Estate    63481      5.0
34     Real Estate    63487      5.0
35     Real Estate    63489      5.0
36       Religious    66142      5.0
37       Religious    66146      5.0
38       Religious    66147      5.0
39      Restaurant    66407      5.0
40      Restaurant    66441      5.0
41      Restaurant    66457      5.0
42        Shopping    91872      5.0
43        Shopping    91877      5.0
44        Shopping    91879      5.0
45          others   108555      5.0
46          others   108561      5.0
47          others   108566      5.0

In [220]:
pd.crosstab(star['stars_y'], star['Cat_Summary'])

Cat_Summary,Active Life,Auto,Banks,Bar,Beauty,Entertainment,Food,Health,Hotel,Local Services,Pet,Real Estate,Religious,Restaurant,Shopping,others
stars_y,,,,,,,,,,,,,,,,
1.000000,135,516,150,90,202,40,185,618,231,522,69,360,11,564,855,561
1.019608,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1.023256,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1.024096,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1.028571,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4.982143,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4.985714,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4.986395,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4.989474,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5.000000,1243,1727,33,539,1212,330,569,2502,319,1398,613,482,91,675,3122,2036

In [227]:
star.rename(columns = {'stars_y':'ave_star'}, inplace = True)

In [228]:
star.head()

,Cat_Summary,business_id,name,review_count,ave_star
0,Active Life,--30_8IhuyMHbSOcNWd6DQ,Action Karate,9,4.500000
1,Active Life,--9osgUCSDUWUkoTLdvYhQ,Will You Escape?,29,4.764706
2,Active Life,--O3ip9NpXTKD4oBS1pY2A,Alameda Park,65,4.714286
3,Active Life,--sgBOzb76sjOQ-Xhdjffw,Allen's Aquatic Adventures,34,5.000000
4,Active Life,-0x-MbRbsi9YoPxB873qcw,Laura Sims Skate House,5,4.500000

In [229]:
bus_rev.head()

,business_id,name,stars_x,review_count,is_open,attributes,categories,review_id,user_id,stars_y,useful,year,Cat_Summary
2,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",8Di0vZGcRLVNCZ-AWKgshA,auE6cx-AMcv2fv4SW_gnzA,5.0,0.0,2018,Local Services
11,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",modGqK95718eNnJc9pEIjA,Lj9jeybp5wJeQRYaVJDfkQ,1.0,0.0,2019,Local Services
12,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",GeXmTsLHIL3nFNRvmG7jbg,uXHXWvY8661zHWHNh5AyyA,4.0,2.0,2021,Local Services
13,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",TChqW_vZ1O7U89P81560Fg,OSSYJJIGVr53Tk61ZycITQ,5.0,0.0,2022,Local Services
14,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",4uppC_A_XyB8t99IIBhbFw,Pkj1q-1rePYIo6f2EIGV3g,1.0,1.0,2021,Local Services

In [324]:
bus_rev.drop(columns=['useful_count'], inplace = True)

In [365]:
bus_rev['pos_review'] = bus_rev['stars_y'].apply(lambda x: 1 if x > 3 else 0)

In [366]:
a = bus_rev['useful']
bus_rev['pos_useful'] = np.where(bus_rev['pos_review'] == 1, a, 0)

In [343]:
bus_rev

,business_id,name,stars_x,review_count,is_open,attributes,categories,review_id,user_id,stars_y,useful,year,Cat_Summary,fans,pos_review,pos_useful
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",8Di0vZGcRLVNCZ-AWKgshA,auE6cx-AMcv2fv4SW_gnzA,5.0,0.0,2018,Local Services,0.0,1,0.0
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",modGqK95718eNnJc9pEIjA,Lj9jeybp5wJeQRYaVJDfkQ,1.0,0.0,2019,Local Services,0.0,0,0.0
2,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",GeXmTsLHIL3nFNRvmG7jbg,uXHXWvY8661zHWHNh5AyyA,4.0,2.0,2021,Local Services,11.0,1,2.0
3,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",TChqW_vZ1O7U89P81560Fg,OSSYJJIGVr53Tk61ZycITQ,5.0,0.0,2022,Local Services,0.0,1,0.0
4,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",4uppC_A_XyB8t99IIBhbFw,Pkj1q-1rePYIo6f2EIGV3g,1.0,1.0,2021,Local Services,3.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598615,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",CgOA7vV9YH2_bCwItxDi-w,nKVklvB7yZ56dc_8bnLpfA,5.0,1.0,2021,Beauty,26.0,1,1.0
2598616,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",5gE7ACSqGdQSaiS75Nl_tw,T-tMouhG-faaEyh2zpprYg,5.0,0.0,2021,Beauty,0.0,1,0.0
2598617,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",34FBVC0N2M-7r2aCZnXecA,r_xuBblpy45w9lPHUwQFtA,5.0,0.0,2019,Beauty,0.0,1,0.0
2598618,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",VSMXMQ8qOauSGS4sC_4XHQ,wZw_sEDCvTxV9Zc4ftHb5w,5.0,1.0,2020,Beauty,2.0,1,1.0
2598619,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",mSOi83M9nQt02ZOblMTW6w,Pi1chY5ZWbQ80tjxQcrn_g,1.0,1.0,2020,Beauty,0.0,0,0.0

In [ ]:
bus_rev = pd.merge(bus_rev, user[['user_id', 'fans']], how = 'left', on = 'user_id')

In [367]:
bus_rev

,business_id,name,stars_x,review_count,is_open,attributes,categories,review_id,user_id,stars_y,useful,year,Cat_Summary,fans,pos_review,pos_useful
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",8Di0vZGcRLVNCZ-AWKgshA,auE6cx-AMcv2fv4SW_gnzA,5.0,0.0,2018,Local Services,0.0,1,0.0
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",modGqK95718eNnJc9pEIjA,Lj9jeybp5wJeQRYaVJDfkQ,1.0,0.0,2019,Local Services,0.0,0,0.0
2,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",GeXmTsLHIL3nFNRvmG7jbg,uXHXWvY8661zHWHNh5AyyA,4.0,2.0,2021,Local Services,11.0,1,2.0
3,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",TChqW_vZ1O7U89P81560Fg,OSSYJJIGVr53Tk61ZycITQ,5.0,0.0,2022,Local Services,0.0,1,0.0
4,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",4uppC_A_XyB8t99IIBhbFw,Pkj1q-1rePYIo6f2EIGV3g,1.0,1.0,2021,Local Services,3.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598615,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",CgOA7vV9YH2_bCwItxDi-w,nKVklvB7yZ56dc_8bnLpfA,5.0,1.0,2021,Beauty,26.0,1,1.0
2598616,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",5gE7ACSqGdQSaiS75Nl_tw,T-tMouhG-faaEyh2zpprYg,5.0,0.0,2021,Beauty,0.0,1,0.0
2598617,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",34FBVC0N2M-7r2aCZnXecA,r_xuBblpy45w9lPHUwQFtA,5.0,0.0,2019,Beauty,0.0,1,0.0
2598618,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",VSMXMQ8qOauSGS4sC_4XHQ,wZw_sEDCvTxV9Zc4ftHb5w,5.0,1.0,2020,Beauty,2.0,1,1.0
2598619,jV_XOycEzSlTx-65W906pg,Sic Ink,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",mSOi83M9nQt02ZOblMTW6w,Pi1chY5ZWbQ80tjxQcrn_g,1.0,1.0,2020,Beauty,0.0,0,0.0

In [368]:
count = bus_rev.groupby(['business_id']).sum()

In [369]:
count.head()

,stars_x,review_count,is_open,stars_y,useful,fans,pos_review,pos_useful
business_id,,,,,,,,
---kPU91CF4Lq2-WlRu9Lw,103.5,552,23,104.0,12.0,16.0,20,10.0
--0iUa4sNDFiZFrAdIWhZQ,3.0,14,1,5.0,0.0,0.0,1,0.0
--30_8IhuyMHbSOcNWd6DQ,7.0,18,2,9.0,1.0,0.0,2,1.0
--7jw19RH9JKXgFohspgQw,16.0,52,4,14.0,1.0,2.0,2,0.0
--9osgUCSDUWUkoTLdvYhQ,85.0,493,17,81.0,4.0,48.0,16,4.0

In [370]:
bus_star = pd.merge(star,count[['pos_review', 'pos_useful', 'useful', 'fans']],on='business_id', how='left')

In [371]:
bus_star

,Cat_Summary,business_id,name,review_count,ave_star,pos_review,pos_useful,useful,fans
0,Active Life,--30_8IhuyMHbSOcNWd6DQ,Action Karate,9,4.500000,2,1.0,1.0,0.0
1,Active Life,--9osgUCSDUWUkoTLdvYhQ,Will You Escape?,29,4.764706,16,4.0,4.0,48.0
2,Active Life,--O3ip9NpXTKD4oBS1pY2A,Alameda Park,65,4.714286,20,12.0,17.0,720.0
3,Active Life,--sgBOzb76sjOQ-Xhdjffw,Allen's Aquatic Adventures,34,5.000000,23,1.0,1.0,60.0
4,Active Life,-0x-MbRbsi9YoPxB873qcw,Laura Sims Skate House,5,4.500000,2,2.0,2.0,13.0
...,...,...,...,...,...,...,...,...,...
115755,others,zysTkQbB0c9A0EbnmEAlfg,Carter's Lock & Safe,8,5.000000,6,0.0,0.0,2.0
115756,others,zyy_cMCepssktJ2BWLDnCg,Tom Adams Storm Windows,15,2.142857,2,1.0,6.0,0.0
115757,others,zzG-EObaHskhFLy6suavpA,G&H Tile Masters,6,5.000000,2,0.0,0.0,0.0
115758,others,zzUxvYE-8Fj_dWqsPcagNg,The Cleaning Authority - Tucson,25,1.733333,3,1.0,30.0,6.0
115759,others,zztOG2cKm87I6Iw_tleZsQ,Project Management Academy,6,4.800000,5,0.0,0.0,0.0

In [372]:
bus_star.groupby(['Cat_Summary'])['review_count'].quantile(0.75).reset_index()

       Cat_Summary  review_count
0      Active Life         28.00
1             Auto         24.00
2            Banks         10.00
3              Bar        152.00
4           Beauty         32.00
5    Entertainment         84.00
6             Food         37.00
7           Health         18.00
8            Hotel         46.25
9   Local Services         17.00
10             Pet         25.00
11     Real Estate         15.00
12       Religious         13.00
13      Restaurant         86.00
14        Shopping         22.00
15          others         15.00

In [373]:
m = (
    bus_star.groupby(['Cat_Summary'])['review_count']
    .transform(lambda s: s.between(s.quantile(0.75), s.quantile(1.0)))
)
df = bus_star[m]

In [374]:
df.groupby(['Cat_Summary'])['review_count'].min()

Cat_Summary
Active Life        28
Auto               24
Banks              10
Bar               152
Beauty             32
Entertainment      84
Food               37
Health             18
Hotel              47
Local Services     17
Pet                25
Real Estate        15
Religious          13
Restaurant         86
Shopping           22
others             15
Name: review_count, dtype: int64

In [392]:
df["rank"] = df.groupby("Cat_Summary")["ave_star"].rank("dense", ascending=True)

/var/folders/5m/p6059ktn0nl99n_9dgx7y37m0000gn/T/ipykernel_90453/640712811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rank"] = df.groupby("Cat_Summary")["ave_star"].rank("dense", ascending=True)

In [376]:
df

,Cat_Summary,business_id,name,review_count,ave_star,pos_review,pos_useful,useful,fans,rank
1,Active Life,--9osgUCSDUWUkoTLdvYhQ,Will You Escape?,29,4.764706,16,4.0,4.0,48.0,79.0
2,Active Life,--O3ip9NpXTKD4oBS1pY2A,Alameda Park,65,4.714286,20,12.0,17.0,720.0,100.0
3,Active Life,--sgBOzb76sjOQ-Xhdjffw,Allen's Aquatic Adventures,34,5.000000,23,1.0,1.0,60.0,1.0
5,Active Life,-24TYSeA5yK8oH7hfJkZ0g,Planet Fitness,60,2.135135,9,1.0,23.0,32.0,662.0
7,Active Life,-3e3CP3FFc-rvJj_-_airw,Penn's Landing,80,3.857143,10,28.0,30.0,241.0,367.0
...,...,...,...,...,...,...,...,...,...,...
115748,others,zv6RP2c4svFnHMHlhApCfA,Mr. Handyman of the Western Main Line,23,3.428571,8,0.0,14.0,22.0,309.0
115749,others,zvtIrvHdsEtF6mR69iPn3g,Two Maids & A Mop,45,2.700000,8,2.0,19.0,3.0,391.0
115754,others,zyrhpLocbo60EbS57jBTLw,Generations Hall,28,4.461538,12,3.0,4.0,36.0,141.0
115756,others,zyy_cMCepssktJ2BWLDnCg,Tom Adams Storm Windows,15,2.142857,2,1.0,6.0,0.0,456.0
115758,others,zzUxvYE-8Fj_dWqsPcagNg,The Cleaning Authority - Tucson,25,1.733333,3,1.0,30.0,6.0,501.0

In [432]:
all_cat = df['Cat_Summary'].unique()
result_group = pd.DataFrame()

for i in all_cat:
    all_group = df.groupby('Cat_Summary').get_group(i)
    rank_group = all_group.nlargest(20, 'rank')
    useful_group = rank_group.nlargest(5, 'pos_useful')
    fans_group = useful_group.nlargest(5, 'fans')
    result_group = pd.concat([result_group,fans_group])

result_group

,Cat_Summary,business_id,name,review_count,ave_star,pos_review,pos_useful,useful,fans,rank
93,Active Life,07Ypw3YPZtQ1rFZnCueeuw,Lafayette Park,50,5.0,13,23.0,23.0,668.0,706.0
890,Active Life,9Jt_HDWxOEbkxWqSMWLG7Q,Galena Creek Regional Park,30,5.0,15,21.0,21.0,152.0,706.0
984,Active Life,AMtfY4a69lctRe1K04TAtw,FreeWheelin' Bike Tours & Rentals,241,5.0,51,26.0,26.0,134.0,706.0
65,Active Life,-mHLlBqekJe_VC61ouI9yA,Segway of Santa Barbara,165,5.0,57,14.0,14.0,26.0,706.0
1590,Active Life,H3HdjZNcCulD3e_9P_vFYg,Paddle Out Adventures,39,5.0,20,13.0,13.0,26.0,706.0
...,...,...,...,...,...,...,...,...,...,...
108555,others,--sXnWH9Xm6_NvIjyuA99w,Philadelphia,29,5.0,4,95.0,95.0,1188.0,603.0
108644,others,-rme923YftBvVWv9omz8Ng,The Boudoir By Cheyenne Gil,26,5.0,15,27.0,27.0,160.0,603.0
108838,others,1U91J5_uPCmw6cP-4ETuRQ,"Tim Meevasin, Personal Chef",42,5.0,16,8.0,8.0,40.0,603.0
109042,others,3N7zHb7rWMtUCgGDYH3ViA,Express-Rooter,30,5.0,26,17.0,17.0,36.0,603.0
108956,others,2Y0XyJCu3JGGLUga-u0RjQ,Allied Lock & Key,20,5.0,20,10.0,10.0,23.0,603.0

In [440]:
result_group.to_csv('result.csv', index=False)

In [439]:
bus_map = pd.merge(bus_star,business_origin[['latitude', 'longitude', 'business_id', 'city', 'state']],on='business_id', how='left')
bus_map

,Cat_Summary,business_id,name,review_count,ave_star,pos_review,pos_useful,useful,fans,latitude,longitude,city,state
0,Active Life,--30_8IhuyMHbSOcNWd6DQ,Action Karate,9,4.500000,2,1.0,1.0,0.0,40.255362,-75.088399,Jamison,PA
1,Active Life,--9osgUCSDUWUkoTLdvYhQ,Will You Escape?,29,4.764706,16,4.0,4.0,48.0,32.253677,-110.961772,Tucson,AZ
2,Active Life,--O3ip9NpXTKD4oBS1pY2A,Alameda Park,65,4.714286,20,12.0,17.0,720.0,34.428303,-119.705397,Santa Barbara,CA
3,Active Life,--sgBOzb76sjOQ-Xhdjffw,Allen's Aquatic Adventures,34,5.000000,23,1.0,1.0,60.0,27.708705,-82.735963,St Pete beach,FL
4,Active Life,-0x-MbRbsi9YoPxB873qcw,Laura Sims Skate House,5,4.500000,2,2.0,2.0,13.0,39.959325,-75.248222,Philadelphia,PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115755,others,zysTkQbB0c9A0EbnmEAlfg,Carter's Lock & Safe,8,5.000000,6,0.0,0.0,2.0,40.248457,-75.650107,Pottstown,PA
115756,others,zyy_cMCepssktJ2BWLDnCg,Tom Adams Storm Windows,15,2.142857,2,1.0,6.0,0.0,40.197852,-75.025909,Churchville,PA
115757,others,zzG-EObaHskhFLy6suavpA,G&H Tile Masters,6,5.000000,2,0.0,0.0,0.0,40.222882,-75.398789,Skippack,PA
115758,others,zzUxvYE-8Fj_dWqsPcagNg,The Cleaning Authority - Tucson,25,1.733333,3,1.0,30.0,6.0,32.196817,-110.965636,Tucson,AZ
115759,others,zztOG2cKm87I6Iw_tleZsQ,Project Management Academy,6,4.800000,5,0.0,0.0,0.0,40.092606,-75.393004,King of Prussia,PA

In [441]:
bus_map.to_csv('map.csv', index=False)

In [442]:
bus_rev.to_csv('bus_rev.csv', index = False)

In [444]:
pd.set_option('display.max_rows', None)

In [ ]:
## The Mediterranean Chickpea, Pangolin Café
## Walls Jewelry Repairing, Pleasures Romance Boutique
## The Spine Shop Chiropractic
## Pacfici Counter

In [471]:
Final_List = ['The Mediterranean Chickpea', 'Pangolin Café', 'Walls Jewelry Repairing', 'Pleasures Romance Boutique',
              'The Spine Shop Chiropractic', 'Pacfici Counter']
Final_group = pd.DataFrame()

for i in Final_List:
    rows = result_group[result_group['name'] == i]
    Final_group = Final_group.append(rows)

/var/folders/5m/p6059ktn0nl99n_9dgx7y37m0000gn/T/ipykernel_90453/1422611718.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Final_group = Final_group.append(rows)
/var/folders/5m/p6059ktn0nl99n_9dgx7y37m0000gn/T/ipykernel_90453/1422611718.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Final_group = Final_group.append(rows)
/var/folders/5m/p6059ktn0nl99n_9dgx7y37m0000gn/T/ipykernel_90453/1422611718.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Final_group = Final_group.append(rows)
/var/folders/5m/p6059ktn0nl99n_9dgx7y37m0000gn/T/ipykernel_90453/1422611718.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Final_group = Final_group.append(rows)
/var/folders/5m/p6059ktn0nl99n_9dgx7y37m0000gn/T/ipykernel_90453/1422611718.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Final_group = Final_group.append(rows)
/var/folders/5m/p6059ktn0nl99n_9dgx7y37m0000gn/T/ipykernel_90453/1422611718.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Final_group = Final_group.append(rows)

In [472]:
Final_group

,Cat_Summary,business_id,name,review_count,ave_star,pos_review,pos_useful,useful,fans,rank
88976,Restaurant,slO-qEE0z8-BLRTvMYW6HA,The Mediterranean Chickpea,188,4.945652,182,140.0,144.0,866.0,4270.0
70389,Restaurant,8q25GCkL0PngPIlCu2j4Vw,Pangolin Café,132,4.967213,122,151.0,151.0,826.0,4272.0
92491,Shopping,1RqfozJoosHAsKZhc5PY7w,Walls Jewelry Repairing,112,5.000000,55,17.0,17.0,209.0,1247.0
92163,Shopping,0BSX6ieEjBTrHwpdbG4qxw,Pleasures Romance Boutique,23,5.000000,9,22.0,22.0,363.0,1247.0
40131,Health,-bkOyTmcC7XxcMGNShke2A,The Spine Shop Chiropractic,41,5.000000,25,14.0,14.0,91.0,896.0

In [464]:
Final_group = result_group[result_group['name'] == 'The Mediterranean Chickpea']

In [473]:
Final_group.to_csv('final.csv', index=False)

In [476]:
bus_map[bus_map['name'] == 'Pangolin Café']

,Cat_Summary,business_id,name,review_count,ave_star,pos_review,pos_useful,useful,fans,latitude,longitude,city,state
70389,Restaurant,8q25GCkL0PngPIlCu2j4Vw,Pangolin Café,132,4.967213,122,151.0,151.0,826.0,39.515658,-119.808394,Reno,NV